@model FirstMvcApp.ViewModels.PageInfoViewModel
<div>
    @for (int i = 1; i <= Model.MaxPage; i++)
    {
            if (Model.CurrentPage != i)
            {
                @Html.ActionLink(i.ToString(), "Index", new { page = i })
            }
            else
            {
    <b>@i</b>
            }
        <span>&nbsp;</span>
    }
</div>