@model FirstMvcApp.ViewModels.PageInfoViewModel
<ul>
    @for (int i = 1; i <= Model.MaxPage; i++)
    {
        <li class="pagg">
            @if (Model.CurrentPage != i)
            {
                @Html.ActionLink(i.ToString(), "Index", new { page = i })
            }
            else
            {
                @i
            }
        </li>
    }
</ul>