
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ne pare rau...</h2>
<h3>Ne pare rau, dar a aparut o eroare neprevazuta. Pentru mai multe informatii contactati administratorul!</h3>

