

@model ICollection<CustomerMVC.Models.Customer>

@{
    ViewBag.Title = "Clients List";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr class="table-bordered table-condensed" style="color:black">
        <td class="table-bordered table-condensed" style="color:black">First Name</td>
        <td class="table-bordered table-condensed" style="color:black">Last Name</td>
        <td class="table-bordered table-condensed" style="color:black">Phone</td>
    </tr>
    @foreach (var customers in Model)

    {
<tr class="table-bordered table-condensed" style="color:black">
    <td class="table-bordered table-condensed" style="color:black">@customers.FirstName</td>
    <td class="table-bordered table-condensed" style="color:black">@customers.LastName</td>
    <td class="table-bordered table-condensed" style="color:black">@customers.Phone</td>
</tr>
    }
</table>


